.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   gap: 20px;
   width:calc(100% - 40px);
   max-width: 1200px;
}
.card{
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 20px;
    width: calc(50% - 40px);
    max-width: 400px;
    transition: transform 0.3s ease;
    margin-top: 20px;
}
.card:hover{
    transform: translateY(-7px);
    box-shadow: 0px 0px 20px rgb(0,0,0,0.2);
}
.card-header{
    display: flex;
    align-items: center;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: rgb(236, 236, 75);
}
.income-details{
    margin-left: 20px;
}
.view{
    height: 50px;
    width:70px;
    position: relative;
    left: 280px;
    bottom: 5px;
}
.view button{
    height: 30px;
    width: 60px;
      background: linear-gradient(to right, #07e4bf, #75918c);
      border: none;
      border-radius: 10px;
}
.view button:hover{
      background: linear-gradient(to left,  #e4078f, #75918c);
      transition: transform 0.3s ease-in;
}
#expense{
    background-color: rgb(228, 87, 228);
}
#todo{
    background-color:green;
}
.transaction-status mat-icon{
    display: inline-block;
    vertical-align: middle;
}
.transaction-details{
    margin-left: 10px;
    color: black;
    font-size: 16px;
}
.transaction-details.completed{
    text-decoration: line-through;
}
.total-item{
    display: flex;
    justify-content: space-around;
    
}