.header{
    height: 80px;
    width: 50%;
    text-align: center;
     background: linear-gradient(to right, #07e4bf, #75918c);
    color: white;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 10px;
    margin-left: 320px;
}
.main-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    height: 600px;
    width: 50%;
    border-radius: 10px;
    margin-right: 37px;
}
.input-form{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   grid-gap :20px;
   margin-bottom: 20px;
   justify-content: center;
   align-items: center;
}
.input-form .formgroup{
   display: flex;
    flex-direction: column;
}
.formgroup select{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1rem;
    background-color: #f1f5f4;
    margin-left: 10px;
}
.formgroup h2{
    text-align:start;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 10px;
}
.formgroup input{
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1rem;
    background-color: #eef3f2;
}
.formgroup label{
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}
.formgroup button{
    background:linear-gradient(to right, #07e4bf, #75918c); 
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
}
.formgroup p{
    margin-top: 60px;
    font-size: 1rem;
    color: black;
    background-color: rgb(247, 241, 241);
    border-radius: 5px;
    margin-right: 10px;
}
.formgroup button:hover{
    background:linear-gradient(to right, #75918c, #07e4bf); 
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
}
tr,td,th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#clear{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(to right, #07e4bf, #75918c);
    color: white;
    border: none;
    margin-top: 10px;
}